.cor-principal {
  color: var(--cor-principal);
}

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--cor-principal);
  color: white;
  font-weight: 500;
  font-size: larger;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #f1f1f1;
  transition: left 0.3s ease;
}

#sidebar.show {
  left: 0;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

#sidebar ul li {
  padding: 15px;
  margin-bottom: 10px;
}

#sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.selected {
  background-color: #e8e8e8;
  color: #333;
}