.bg-blue{
    background-color: #3A65C6;
    color: white;
    border-radius: 9px;
    border-color: #3A65C6;
    right: auto;
}
.button-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}