body {
  padding: 20px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.statistics,
.age-statistics,
.donor-relationship {
  flex: 1 1 60%;
}

.dashboard-frame {
  border: 1px solid var(--cor-secundaria);
  padding: 20px;
  border-radius: 4px;
}

.statistics-item {
  margin-bottom: 20px;
}

.chart {
  height: 20%;
}

h2 {
  color: var(--cor-principal);
}

h3 {
  color: var(--cor-secundaria);
}

.tables-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.age-statistics,
.donor-relationship {
  flex: 0 0 35%;
}

.chart {
  width: 100%;
}
