body {
  padding: 20px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.superior-blocks {
  display: flex;
  flex-direction: row;
  flex: 1 1 33%;
  gap: 2%;
}

.statistics,
.age-statistics,
.donor-relationship {
  flex: 1 1 60%;
}

.dashboard-frame {
  border: 1px solid var(--cor-secundaria);
  padding: 20px;
  border-radius: 4px;
}

.statistics-item {
  margin-bottom: 26px;
}

.chart {
  height: 20%;
}

h2 {
  color: var(--cor-principal);
}

h3 {
  color: var(--cor-secundaria);
}

.tables-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.age-statistics,
.donor-relationship {
  flex: 0 0 35%;
}

.chart {
  width: 100%;
}

.candidates-by-state {
  flex-basis: 100%;
}

.candidates-by-state .table-container {
  width: 20%;
  flex-basis: 20%;
}

.candidates-by-state table {
  width: 100%;
  border-collapse: collapse;
}

.candidates-by-state th,
.candidates-by-state td {
  border: 1px solid var(--cor-secundaria);
  padding: 8px;
  text-align: left;
}

.candidates-by-state th {
  background-color: var(--cor-principal);
  color: white;
}

.candidates-by-state th[colspan="2"] {
  background-color: var(--cor-principal-light);
  color: var(--cor-principal);
  text-align: center;
}
